body {
background: 
        linear-gradient(rgba(0, 0, 0, 0.644), rgba(0, 0, 0, 0.589)), /*60% de opacidad */
        url('Img/fondo.jpg'); 
    background-repeat: repeat; 
    background-attachment: fixed; 
    background-color: #1e1e1e;
    background-size: 1000px;
}

.barra-superior {
  width: 100%;
  height: 60px;
  background-color: #4b4b4b;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  padding: 0 25px;
  z-index: 1000;
}

.logo {
  display: flex;
  align-items: center;
  height: 100%;
}

.logo img {
  width: 2.8rem;
  height: 2.8rem;
  object-fit: cover;
}

.menu-superior {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.menu-superior a {
  color: #dcdcdc;
  text-decoration: none;
  font-weight: bold;
  font-size: 0.95rem;
  transition: all 0.3s ease;
  position: relative;
}

.menu-superior a:hover {
  color: #b6ff96;
}

.menu-superior a.activo {
  color: #10d63f;
}

.menu-desplegable {
  position: relative;
}

.submenu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background: #4b4b4b;
  border-radius: 6px;
  flex-direction: column;
  padding: 5px 0;
}

.submenu a {
  padding: 10px 20px;
  display: block;
  color: white;
  text-decoration: none;
}

.submenu a:hover {
  background-color: #444;
}

.menu-desplegable:hover .submenu {
  display: flex;
}

.perfil {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-right: 40px;  
}

.perfil-info {
  display: flex;
  align-items: center;
  gap: 10px;
}

.perfil-info img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: white;
  padding: 4px;
}

.perfil-datos {
  display: flex;
  flex-direction: column;
  font-size: 0.85rem;
  text-align: right;
  line-height: 1.3;
}

.perfil-datos .nombre {
  font-weight: bold;
  color: #2ecc71;
}

.perfil-datos .id,
.perfil-datos .rol {
  color: #e0e0e0;
}

.titulo {
  margin-top: 65px;
  background-color: #323133;
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  border-radius: 20px;
  padding: 10px;
    backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  border-radius: 10px;    
  background: rgba(0, 0, 0, 0.15);  
}

.titulo h1 {
  font-size: 22px;
  color: white;
}

.contenedor-formulario {
  background-color: #323133;
  width: 60%;
  margin: 5px auto;
  border-radius: 15px;
  padding: 30px 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  border-radius: 10px;    
  background: rgba(0, 0, 0, 0.15);  
  box-shadow: #ffffff 0px 0px 10px;
}


.formulario {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: flex-start; 
  padding-left: 10px; 
}

.fila {
  display: flex;
  align-items: center;
  gap: 20px;
  width: 81%;
  justify-content: flex-start; 
  padding-left: 50px;
}

label {
  width: 70rem;
  text-align: left; 
  font-size: 25px;
  color: white;
}

.entrada {
  width: 200px;
  padding: 6px;
  border-radius: 5px;
  border: none;
  font-size: 18px;
  padding-left: 80px;
}

.aviso {
  margin-top: 30px;
  text-align: center;        
  display: flex;             
  flex-direction: column;    
  align-items: center;       
  justify-content: center;   
}

.aviso h3 {
  color: #b6ff96;
  font-size: 30px;
  padding: 8px 20px;
  border-radius: 10px;
  margin-bottom: 10px;
  text-align: center;        
}

.aviso p {
  color: white;
  text-align: center;
  width: 80%;                
  margin: 0 auto;
  line-height: 1.4;
}

.enviar {
  width: 120px;
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
  color: #b6ff96;
  font-size: 12px;
  border: 2px solid #b6ff96;
  border-radius: 10px;
  padding: 2px 2px;
  text-align: center;
}

.footer-end {
  bottom: 3%;
  left: 0;
  right: 0;
  padding: 1rem;
  text-align: center;
  font-size: 0.95rem;
  color: #e8fcebbd;
}

*{
font-family: sans-serif;
}








