body {
background: 
        linear-gradient(rgba(0, 0, 0, 0.644), rgba(0, 0, 0, 0.589)),
        url('Img/fondo.jpg'); 
    background-repeat: repeat; 
    background-attachment: fixed; 
    background-color: #1e1e1e;
    background-size: 1000px;
}

.barra-superior {
  width: 100%;
  height: 60px;
  background-color: #4b4b4b;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  padding: 0 25px;
  z-index: 1000;
}

.logo {
  display: flex;
  align-items: center;
  height: 100%;
}

.logo img {
  width: 2.8rem;
  height: 2.8rem;
  object-fit: cover;
}

.menu-superior {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.menu-superior a {
  color: #dcdcdc;
  text-decoration: none;
  font-weight: bold;
  font-size: 0.95rem;
  transition: all 0.3s ease;
  position: relative;
}

.menu-superior a:hover {
  color: #b6ff96;
}

.menu-superior a.activo {
  color: #10d63f;
}

.menu-desplegable {
  position: relative;
}

.submenu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background: #4b4b4b;
  border-radius: 6px;
  flex-direction: column;
  padding: 5px 0;
}

.submenu a {
  padding: 10px 20px;
  display: block;
  color: white;
  text-decoration: none;
}

.submenu a:hover {
  background-color: #444;
}

.menu-desplegable:hover .submenu {
  display: flex;
}

.perfil {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-right: 40px;  
}

.perfil-info {
  display: flex;
  align-items: center;
  gap: 10px;
}

.perfil-info img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: white;
  padding: 4px;
}

.perfil-datos {
  display: flex;
  flex-direction: column;
  font-size: 0.85rem;
  text-align: right;
  line-height: 1.3;
}

.perfil-datos .nombre {
  font-weight: bold;
  color: #2ecc71;
}

.contenedor-formulario {
  background-color: #323133;
  width: 60%;
  margin: 20px auto;
  border-radius: 15px;
  padding: 30px 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

.formulario {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: flex-start; 
  padding-left: 10px; 
}

.fila {
  display: flex;
  align-items: center;
  gap: 20px;
  width: 81%;
  justify-content: flex-start; 
  padding-left: 50px;
}

label {
  width: 70rem;
  text-align: left; 
  font-size: 25px;
  color: white;
}

.entrada {
  width: 200px;
  padding: 6px;
  border-radius: 5px;
  border: none;
  font-size: 18px;
  padding-left: 80px;
}


.login-box { 
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  width: 400vw;
  max-width: 700px;
  min-width: 290px;
  height: auto;
  min-height: 400px;
  padding: 19px 16px;
  transform: translate(-50%, -50%);
  background: #4e4e4e65;
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0,0,0,.6);
  border: 3px solid #aad1aa33;
  border-radius: 10px;
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
}

.login-box01 { 
  position: absolute;
  text-align: center;
  top: 20%;
  left: 50%;
  width: 400vw;
  max-width: 600px;
  min-width: 290px;
  height: auto;
  min-height: 30px;
  padding: 19px 16px;
  transform: translate(-50%, -50%);
  background: #4e4e4e65;
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0,0,0,.6);
  border: 3px solid #aad1aa33;
  border-radius: 10px;
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
}

.caja{
    margin: 10px;
    height: 75px;
    background-color: white;
    border-radius: 10px;
}

.cajita{
    position: absolute;
    text-align: center;
    width: 88%;
    margin: 2px;
    padding-top: 10px;
    padding:12px 14px 4px;
    align-items: center;
    border-radius:10px ;
    height: 55px;
    background: #4e4e4eca;
}

.grid-container {
  padding: 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
}

.h5{
  color: black;
  font-size: 12px;
}

p{
  font-size: 14px;
  color: black; /* ESTA línea interfería */
}

.logo1 {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0;
}

* {
  margin: 0;
  padding: 0;
}

.footer-end {
  top: 100px;
  bottom: 3%;
  left: 0;
  right: 0;
  padding: 1rem;
  text-align: center;
  font-size: 0.95rem;
  color: #e8fcebbd;
}

.p-footer {
  text-align: center;
  margin-top: 20px;
}

.p-footer p {
  color: #e8fcebbd;
}

.container {
  top: 80px;
  position: relative;
  min-height: 100vh;

}

*{
font-family: sans-serif;
}
