body {
  background: 
    linear-gradient(rgba(0, 0, 0, 0.644), rgba(0, 0, 0, 0.589)),
    url('Img/fondo.jpg');
  background-repeat: repeat;
  background-attachment: fixed;
  background-color: #1e1e1e;
  background-size: 1000px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

/* ================= BARRA SUPERIOR ================= */
.barra-superior {
  width: 100%;
  height: 60px;
  background-color: #4b4b4b;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  padding: 0 25px;
  z-index: 1000;
}

.logo img {
  width: 2.8rem;
  height: 2.8rem;
}

/* ============= MENU SUPERIOR ================ */
.menu-superior {
  display: flex;
  gap: 50px;
}

.menu-superior a {
  color: #dcdcdc;
  text-decoration: none;
  font-weight: bold;
  font-size: 0.95rem;
}

.menu-superior a:hover {
  color: #b6ff96;
}

.menu-superior a.activo {
  color: #10d63f;
}

.menu-desplegable {
  position: relative;
}

.submenu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background: #4b4b4b;
  border-radius: 6px;
  flex-direction: column;
  padding: 5px 0;
}

.submenu a {
  padding: 10px 20px;
  color: white;
  text-decoration: none;
}

.submenu a:hover {
  background-color: #444;
}

.menu-desplegable:hover .submenu {
  display: flex;
}

/* ================= PERFIL ================= */
.perfil {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-right: 40px;
}

.perfil-info {
  display: flex;
  align-items: center;
  gap: 10px;
}

.perfil-info img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: white;
  padding: 4px;
}

.perfil-datos {
  display: flex;
  flex-direction: column;
  font-size: 0.85rem;
  text-align: right;
  line-height: 1.3;
}

.perfil-datos .nombre {
  color: #2ecc71;
  font-weight: bold;
}

.perfil-datos .id,
.perfil-datos .rol {
  color: #e0e0e0;
}

/* ================= TITULO ================= */
.titulo {
  margin-top: 90px;
  background-color: #323133;
  width: 45%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  border-radius: 20px;
  padding: 12px;
    backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  border-radius: 10px;    
  background: rgba(0, 0, 0, 0.15);  
  box-shadow: #ffffff 0px 0px 10px;
}

.titulo h1 {
  color: white;
  font-size: 24px;
}

/* =============== FORMULARIO =============== */
.contenedor-agregar {
  background-color: #323133;
  width: 60%;
  margin: 20px auto;
  border-radius: 15px;
  padding: 25px 0;
  box-shadow: 0 0 10px rgba(0,0,0,0.4);
    backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  border-radius: 10px;    
  background: rgba(0, 0, 0, 0.15);  
  box-shadow: #ffffff 0px 0px 10px;
}

.formulario {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: flex-start;
  padding-left: 50px;
}

.fila {
  display: flex;
  align-items: center;
  gap: 20px;
  width: 80%;
}

label {
  width: 17rem;
  color: white;
  font-size: 22px;
}

.entrada {
  width: 250px;
  padding: 6px;
  border-radius: 5px;
  border: none;
  font-size: 16px;
}


.botones-usuario {
  display: flex;
  justify-content: center;
  gap: 25px;
  margin-top: 25px;
}

.btn-cancelar {
  width: 120px;   
  height: 50px;           
  margin-top: 15px;
  color: #b6ff96;               
  font-size: 20px;              
  border: 2px solid #b6ff96;    
  border-radius: 10px;
  padding: 2px 2px;             
  text-align: center;
  background: transparent;      
  cursor: pointer;
  font-family: sans-serif;
}

.footer-end {
  margin-top: 25px;
  text-align: center;
  font-size: 0.95rem;
  color: #e8fcebbd;
}

*{
font-family: sans-serif;
}


